name: Versioned Build & Release

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, LAPTOP-17]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'

      - name: Build Project
        run: dotnet build VersionedDemoApp.csproj -c Release

      - name: Deploy
        run: |
          mkdir -p ./deploy
          cp bin/Release/net6.0/*.dll ./deploy/
