# .github/workflows/ci-cd.yml
name: Run on LAPTOP-17

on:
  push:
    branches:
      - main  # Workflow will run only on main branch

env:
  PROJECT_NAME: "Simple-CI-CD-Demo"
  DEPLOY_DIR: "./deploy"

jobs:
  build-and-deploy:
    runs-on: self-hosted  # Make sure your runner has 'self-hosted' label

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          persist-credentials: false   # So that PAT can be used

      - name: Generate Version
        id: set_version
        run: |
          # Semantic-style versioning example: major.minor.patch
          $major = 1
          $minor = 0
          $patch = (Get-Date -UFormat %H%M)
          $VERSION = "$major.$minor.$patch"
          echo "VERSION=$VERSION" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8
          Write-Host "Generated version: $VERSION"
        shell: powershell

      - name: Build Step
        run: echo "Building ${{ env.PROJECT_NAME }} - Version ${{ env.VERSION }}"

      - name: Deploy Step
        run: |
          mkdir -p ${{ env.DEPLOY_DIR }}
          cp index.html ${{ env.DE
